<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>/var/opt/secure-client-jar/secure-client-jar.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

    <!-- Note: INFO log level includes info, warn, error log statements
         Reference: http://logback.qos.ch/manual/architecture.html 
    -->
	<logger name="mark.conover.crypto" level="DEBUG" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<!-- Used for debugging the web application -->
	<!-- <logger name="mark.conover.crypto" level="DEBUG" /> -->

    <!-- Note: INFO log level includes info, warn, error log statements
         Reference: http://logback.qos.ch/manual/architecture.html 
    -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>